<!DOCTYPE html>
<div class="sidebar">
   <div class="logo"><img src="../assets/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">BitClave</div>
   <a class="" ><i class="fa fa-home" aria-hidden="true"></i>Home</a>
   <a class="" routerLink="list"><i class="fa fa-list-ul" aria-hidden="true"></i>List</a>
   <a class="" routerLink="/create"><i class="fa fa-plus" aria-hidden="true"></i>Create</a>
   <a class=""><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
   <a class=""><i class="fa fa-commenting " aria-hidden="true"></i>Message</a>
   <a class=""><i class="fa fa-cog" aria-hidden="true"></i>Setting</a>
</div>
<div class="whole">
   <div class="content">
      <h1 class="page_title">{{title}}</h1>
   </div>
   <div class="container">
      <router-outlet></router-outlet>
   </div>
</div>
